@import "tailwindcss";

@theme {
  /* color custon */
  --color-orange: #f97300;
  --color-purple: #32012f;
  --color-charcoal-gray: #424242;
  --color-charcoal-gray-100: #524c42;
  --color-clear-off-white: #f5f5f5;
  --color-cream: #e2dfd0;
  /* container custom */
  --container-main: 1240px;
}
